<section>
    <img src={{chosenProduct.product_image}} />
    <p>
        {{#each chosenProduct.where_to_buy}}
        {{this}},
        {{/each}}
    </p>
    <h3>{{chosenProduct.product_name}}</h3>
    <p>Price: {{chosenProduct.product_price}}</p>

    <p>{{chosenProduct.product_description}}</p>
    <article>!!Rating goes here!!</article>
    <section>!!Comments go here!!</section>
</section>