<section>
    <img src={{chosenProduct.product_image}} />
    <p>
        {{#each chosenProduct.where_to_buy}}
        {{this}},
        {{/each}}
    </p>
    <h3>{{chosenProduct.product_name}}</h3>
    <p>Price: {{chosenProduct.product_price}}</p>

    <p>{{chosenProduct.product_description}}</p>

    <form action="/submitrating/{{chosenProduct.id}}" method="POST">
        <label for="rating">Rating</label>
        <select id="rating" name="rating">
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
            <option value=5>5</option>
        </select>
        <label for="comment">Comment: </label>
        <input id="comment" type="text" name="comment">

        <input type="submit">
    </form>
    <article>{{returnAverageRating ratings}}</article>
    <section>
        {{#each ratings}}
        <article>
            <p>{{this.comment}}</p>
            <p>Rating: {{this.rating}}</p>
            <p>UpVotes: <span id='upvotes-{{this.id}}'>{{this.votes}}</span></p>
            <button id='upvote-button-{{chosenProduct.id}}-{{this.id}}' class="upvote-button">Upvote</button>
        </article>
        {{/each}}
    </section>
</section>