<section>
    <img src={{this.product_image}} />
    <p>{{this.where_to_buy}}</p>
    <h3>{{this.product_name}}</h3>
    <p>{{this.product_price}}</p>

    <p>{{this.product_description}}</p>
    <article>!!Rating goes here!!</article>
    <section>!!Comments go here!!</section>
</section>