<section>
    <img src={{chosenProduct.product_image}} />
    <p>
        {{#each chosenProduct.where_to_buy}}
        {{this}},
        {{/each}}
    </p>
    <h3>{{chosenProduct.product_name}}</h3>
    <p>Price: {{chosenProduct.product_price}}</p>

    <p>{{chosenProduct.product_description}}</p>

    <form action="/submitrating" method="POST">
        <input type="text" name="product_id" readonly value={{chosenProduct.id}}>
        <label for="rating">Rating</label>
        <select id="rating" name="rating">
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
            <option value=5>5</option>
        </select>
        <label for="comment">Comment: </label>
        <input id="comment" type="text" name="comment">
        <input type="text" name="votes" readonly value=0>

        <input type="submit">
    </form>
    <article>!!Rating goes here!!</article>
    <section>!!Comments go here!!</section>
</section>