<section>
    <h2 id="results-title">Choose a Product:</h2>

    <section class="results-list">
        {{#each allProducts}}
        <article class="result">
            <h3><a href="/product/{{this.id}}">{{this.product_name}}</a></h3>
            <img src="{{this.product_image}}" />
            <p>{{this.product_description}}</p>
            <p>{{this.product_avg_rating}}</p>


        </article>

        {{/each}}

    </section>
</section>